{% extends "base_login.html" %}
{% load static %}
{% block main %}
{% load bootstrap %}

</head>

<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">

<div class="container-fluid p-3 gradCapa wow fadeInDown" style="width: 100vw;
    height: 300vh;
    background: #F5F5F5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;">
    <div class="row justify-content-md-center align-items: center" style="padding-top: 150px;padding-bottom: 150px;">
        <div class="card" style="width: 50rem;">
            <div class="card-body">
                <h1>Esqueceu sua senha?</h1>
                <p>Digite seu endereço de e-mail abaixo e enviaremos instruções por e-mail para configurar um novo.</p>
                <form method="POST">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type="submit" value="Envie-me instruções!">
                </form>
                <br>
                <a href="/" >Voltar <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                </div>
            </div>
        </div>
    </div>



    {% include 'footer.html' %}
{% endblock %}