{% extends "base_login.html" %}
{% load static %}

{% block main %}

{% load bootstrap %}
</head>
{% include 'nav.html' %}

<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">

<div class="container-fluid p-5 gradCapa" style="width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;">
    <div class="row justify-content-md-center align-items: center">
        <div class="card" style="width: 50rem;">
            <div class="card-body">
              {% block title %}E-mail enviado{% endblock %}

              {% block content %}
                <h1>Verifique sua caixa de entrada.</h1>
                <p>Enviamos um e-mail com instruções para definir sua senha. Você deve receber o e-mail em breve!</p>
              {% endblock %}
              <p><a href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket"></i> Logar</a></p>
            </div>


          </div>
      </div>
  </div>
  {% include 'footer.html' %}
{% endblock %}