<?xml version='1.0' encoding='ISO-8859-1' ?>
<config>
<media>1,60</media>
<text>O Analfabeto digital

Surge um novo tipo de iletrado: o analfabeto digital, que não sabe lidar com computadores. Para esses não há futuro, porque dominar os códigos da informática é tão importante como tem sido ler e escrever. As boas e velhas cartilhas do Ivo viu a uva estão se aposentando. Quem não dominar a informática, não souber navegar na Internet e ainda pensar que ter bons conhecimentos é decorar informações terá dificuldades em conseguir empregos modestos.
Não basta apenas ter informações, é preciso saber processá-las, encará-las de vários ângulos, o que exige capacidade crítica e flexibilidade para se habituar a um ritmo de mudanças jamais visto. O aluno não deve ser alguém que memorize ou copie, mas quem sabe valorizar a intuição, a criatividade e a habilidade para lidar com os conflitos. Terá futuro o estudante que souber lidar com imprevistos e adaptar-se rapidamente às mudanças, fazer pesquisas e interpretar os dados.


INFOX POLO UNIFTEC.</text>
</config>
