{% extends 'aluno/base_admin.html' %}

{% load bootstrap %}
{% load static %}

{% block main %}
<style>
    .paineldiv {
    display:inline-block;

    width:300px;height:400px;
    background-color: #f5f5f5;
    color: #000;
    font-size: 20px;
    vertical-align: middle;

}
</style>
<div class="row">

</div>
{% for inscricao in inscricoes %}
<div class="card mb-3 paineldiv">
  <img src="{% static inscricao.curso.imagem.url %}" class="card-img-top" alt="Capa curso">
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'curso_detalhe' inscricao.curso.id %}">{{ inscricao.curso }}</a></h5>
      <p class="card-text">{{ inscricao.curso.descricao|slice:":45" }}...</p>
      <p class="card-text"><small class="text-body-secondary">{{ inscricao.data_inscricao|date:"j F, Y" }}</small></p>
    </div>
  </div>
  {% endfor %}
  {% for inscricao in inscricoesDigitacao %}
  <div class="card mb-3 paineldiv">
    <img src="{% static 'media/curso/capa/digitacao.png' %}" class="card-img-top" alt="Capa curso">
    <div class="card-body">
      <h5 class="card-title"><a href="{% url 'cursodigitacao_detalhe' inscricao.digitacao.id %}">Digitação</a></h5>
      <p class="card-text">Aprenda a digitar corretamente para o resto da sua vida.</p>
      <p class="card-text"><small class="text-body-secondary">{{ inscricao.data_inscricao|date:"j F, Y" }}</small></p>
    </div>
  </div>
{% endfor %}
{% endblock %}