{% load static %}
<footer class="text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
  <!-- Left -->
  <div class="me-5 d-none d-lg-block">
    <span>Conecte-se conosco nas redes sociais:</span>
  </div>
  <!-- Left -->

  <!-- Right -->
  <div>
    <a href="https://www.facebook.com/infox.edu"  class="me-4 text-reset" target="_blank">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.instagram.com/infox.info/" class="me-4 text-reset" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.linkedin.com/company/infox-polo-uniftec" class="me-4 text-reset" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://www.youtube.com/user/cursosinfox" class="me-4 text-reset" target="_blank">
      <i class="fab fa-youtube"></i>
    </a>

  </div>
  <!-- Right -->
</section>
<!-- Section: Social media -->


<!-- Section: Links  -->
<section class="">
  <div class="container text-center text-md-start mt-5">
    <!-- Grid row -->
    <div class="row mt-3 text-left">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase fw-bold mb-4">
          Infox Polo Uniftec
        </h6>
        <p>
          Cursos Profissionalizantes, Técnicos, Cursos Superiores, MBA's e Pós-Graduações.
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold mb-4">
          Cursos
        </h6>
        <p>
          <a class="text-reset remolinha" href="{% url 'prof_detalhes' %}">Cursos Profissionalizantes</a>
        </p>
        <p>
          <a class="text-reset remolinha" href="{% url 'superior_detalhes' %}">Técnicos</a>
        </p>
        <p>
          <a class="text-reset remolinha" href="{% url 'superior_detalhes' %}">Cursos Superiores</a>
        </p>
        <p>
          <a class="text-reset remolinha" href="{% url 'superior_detalhes' %}">Pós-Graduações</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold mb-4">
          Destaques
        </h6>
        <p>
            <a class="text-reset remolinha" href="#">Turma LID</a>
        </p>
        <p>
            <a class="text-reset remolinha" href="{% url 'superior_detalhes' %}">Vestibular Uniftec</a>
        </p>
        <p>
          <a class="text-reset remolinha" href="#">Robótica</a>
        </p>
        <p>
            <a class="text-reset remolinha" href="{% url 'contato_detalhes' %}">Contato</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold mb-4">
          Contato
        </h6>
        <p><i class="fas fa-home me-3"></i> São Marcos / RS</p>
        <p>
          <i class="fas fa-envelope me-3"></i>
          atendimento@cursosinfox.com.br
        </p>
        <a class="remolinha" href="tel:5432912670" target="_blank">
          <p><i class="fas fa-phone me-3"></i> [54] 3291-2670</p>
        </a>
        <a class="remolinha" href="https://wa.me/5554984346112" target="_blank">
          <p>	&nbsp; <i class="fas fa-mobile-alt me-3"></i>	[54] 98434-6112</p>
        </a>

        
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
</section>

<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
  © 2024 Copyright:
  <a class="text-reset fw-bold remolinha" href="https://cursosinfox.com.br/"> Cursos Infox</a>
  CursosInfox
</div>

</footer>