{% extends "base_login.html" %}
{% load static %}
{% block main %}
{% load bootstrap %}

</head>
  
{% include 'nav.html' %}


<div class="gradCapaCursos wow fadeInDown">
  <!-- <img class="d-block w-100 " src="assets/img/capa_superior.png" alt="First slide">-->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 text-white align-self-center text-justify">
        <br>
        <br>
        <br>
        <h1 class="wow animated bounce" data-wow-delay="0.2s">Cursos Profissionalizantes</h1>
          <h5 class="wow bounceInDown" data-wow-delay="0.4s">Na Infox você encontra uma infinidade de cursos. Cursos básico, design, projetista, programação, modelagem 3D, edição de fotos e vídeos e muito mais.
            
            </h5>
            <img class="wow bounceInUp" data-wow-delay="0.7s" src="{% static 'media/infox/logo_esti.png' %}">
      </div>
      <div class="col">
        <div>
          <div class="text-primary wow fadeInDown" data-wow-delay="0.6s">
            <img class="rounded mx-auto d-block" src="{% static 'media/infox/infox_profi.png' %}" alt="First slide">
          </div>
        </div>
                    
      </div>
  </div>
</div>
</div>
    <section>
        <div class="gradVMV p-5">
            <div class="container">
                <div class="row g-2">
                  <div class="col">
                    <div class="p-3"></div>
         
                    <h3 class="wow fadeInRight text-light" data-wow-delay="0.2s">Essencial e Office</h3>
                    <p class="wow fadeInDown  text-light">Voltado para quem deseja iniciar ou aprimorar seus conhecimentos em Inform&#xE1;tica. Crie pastas, navegue com seguran&#xE7;a na internet, crie trabalhos profissionais, apresenta&#xE7;&#xF5;es elegantes, digite corretamente, aprenda a criar tabelhas intelig&#xEA;ntes e muito mais...</p>
                  </div>
                  
                  <div class="col">
                    <div>
                            <a class="link grow" href="/Curso/Details/0">
                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="0.5s">
                                <div>Microsoft Windows</div>
                            </div>
                            </a>
                            <a class="link grow" href="/Curso/Details/1">
                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="0.7s">
                                <div>Internet</div>
                            </div>
                            </a>
                            <a class="link grow" href="/Curso/Details/2">
                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="0.8999999999999999s">
                                <div>Microsoft Word</div>
                            </div>
                            </a>
                            <a class="link grow" href="/Curso/Details/3">
                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="1.0999999999999999s">
                                <div>Microsoft PowerPoint</div>
                            </div>
                            </a>
                            <a class="link grow" href="/Curso/Details/4">
                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="1.2999999999999998s">
                                <div>Microsoft Excel</div>
                            </div>
                            </a>
                            <a class="link grow" href="/Curso/Details/6">
                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="1.4999999999999998s">
                                <div>Digita&#xE7;&#xE3;o</div>
                            </div>
                            </a>
                            <a class="link grow" href="/Curso/Details/5">
                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="1.6999999999999997s">
                                <div>Hardware</div>
                            </div>
                            </a>
                            <a class="link grow" href="/Curso/Details/7">
                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="1.8999999999999997s">
                                <div>Microsoft Excel Avan&#xE7;ado</div>
                            </div>
                            </a>
                        </div>
                  </div>
                </div>
            </div>
        </div>
      </section>
    <section>
        <div class="bg-light p-5">
            <div class="container">
                <div class="row g-2">
                  <div class="col">
                    <div class="p-3"></div>
                    <h3 class="wow fadeInRight text-danger" data-wow-delay="0.2s">Youtuber</h3>
                    <p class="wow fadeInDown  text-danger">Com o pacote de Youtuber voc&#xEA; vai aprender a editar v&#xED;deos em n&#xED;vel profissional, criar efeitos, editar fotos e criar visu&#xE1;is inovadores!!!</p>
                  </div>
                  
                  <div class="col">
                    <div>
                            <a class="link grow" href="/Curso/Details/8">
                            <div class="grow paineldivCursos bg-danger text-light position-relative wow fadeInDown" data-wow-delay="0.5s">
                                <div>Sony Vegas</div>
                            </div>
                            </a>
                            <a class="link grow" href="/Curso/Details/9">
                            <div class="grow paineldivCursos bg-danger text-light position-relative wow fadeInDown" data-wow-delay="0.7s">
                                <div>Adobe Premiere</div>
                            </div>
                            </a>
                            <a class="link grow" href="/Curso/Details/10">
                            <div class="grow paineldivCursos bg-danger text-light position-relative wow fadeInDown" data-wow-delay="0.8999999999999999s">
                                <div>After Effects</div>
                            </div>
                            </a>
                            <a class="link grow" href="/Curso/Details/11">
                            <div class="grow paineldivCursos bg-danger text-light position-relative wow fadeInDown" data-wow-delay="1.0999999999999999s">
                                <div>Adobe Photoshop</div>
                            </div>
                            </a>
                        </div>
                  </div>
                </div>
            </div>
        </div>
      </section>
    <section>
        <div class="gradinformacoes2 p-5">
            <div class="container">
                <div class="row g-2">
                  <div class="col">
                    <div class="p-3"></div>
         
                    <h3 class="wow fadeInRight text-primary" data-wow-delay="0.2s">Design Gr&#xE1;fico</h3>
                    <p class="wow fadeInDown  text-primary">Crie projetos de comunica&#xE7;&#xE3;o visual e novos produtos e embalagens, desenha logotipos, formate qualquer tipo de material visual &#x2013; para offline ou online &#x2013; como panfletos, outdoors, p&#xE1;ginas da internet, e muito mais.</p>
                  </div>
                  
                  <div class="col">
                    <div>
                                            <a class="link grow" href="/Curso/Details/12">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="0.5s">
                                                <div>CorelDraw</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/13">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="0.7s">
                                                <div>Photoshop</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/15">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="0.8999999999999999s">
                                                <div>Lightroom</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/16">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="1.0999999999999999s">
                                                <div>InDesign</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/17">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="1.2999999999999998s">
                                                <div>Illustrator</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/18">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="1.4999999999999998s">
                                                <div>Illustrator para Moda</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/14">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="1.6999999999999997s">
                                                <div>Photoshop Avan&#xE7;ado</div>
                                            </div>
                                            </a>
                        </div>
                  </div>
                </div>
            </div>
        </div>
      </section>
    <section>
        <div class="infox p-5">
            <div class="container">
                <div class="row g-2">
                  <div class="col">
                    <div class="p-3"></div>
         
                    <h3 class="wow fadeInRight text-primary" data-wow-delay="0.2s">Projetista Industrial</h3>
                    <p class="wow fadeInDown  text-primary">Elaborar desenhos dos projetos, definindo suas caracter&#xED;sticas e determinando os est&#xE1;gios de execu&#xE7;&#xE3;o e outros elementos t&#xE9;cnicos. Crie modelos 3D, desenho para laser e muito mais.</p>
                  </div>
                  
                  <div class="col">
                    <div>
                                            <a class="link grow" href="/Curso/Details/19">
                                            <div class="grow paineldivCursos text-light text-dark position-relative wow fadeInDown" data-wow-delay="0.5s">
                                                <div>Solidworks Fundamentos</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/22">
                                            <div class="grow paineldivCursos text-light text-dark position-relative wow fadeInDown" data-wow-delay="0.7s">
                                                <div>Solidworks Modelamento Avan&#xE7;ado</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/20">
                                            <div class="grow paineldivCursos text-light text-dark position-relative wow fadeInDown" data-wow-delay="0.8999999999999999s">
                                                <div>Solidworks Chapas</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/21">
                                            <div class="grow paineldivCursos text-light text-dark position-relative wow fadeInDown" data-wow-delay="1.0999999999999999s">
                                                <div>Solidworks Moldes</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/23">
                                            <div class="grow paineldivCursos text-light text-dark position-relative wow fadeInDown" data-wow-delay="1.2999999999999998s">
                                                <div>Solidworks Est. Met. Sold.</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/24">
                                            <div class="grow paineldivCursos text-light text-dark position-relative wow fadeInDown" data-wow-delay="1.4999999999999998s">
                                                <div>SolidEdge</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/25">
                                            <div class="grow paineldivCursos text-light text-dark position-relative wow fadeInDown" data-wow-delay="1.6999999999999997s">
                                                <div>AutoCAD 2D</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/27">
                                            <div class="grow paineldivCursos text-light text-dark position-relative wow fadeInDown" data-wow-delay="1.8999999999999997s">
                                                <div>NX CAD</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/26">
                                            <div class="grow paineldivCursos text-light text-dark position-relative wow fadeInDown" data-wow-delay="2.0999999999999996s">
                                                <div>AutoCad 3D</div>
                                            </div>
                                            </a>
                        </div>
                  </div>
                </div>
            </div>
        </div>
      </section>
    <section>
        <div class="bg-dark p-5">
            <div class="container">
                <div class="row g-2">
                  <div class="col">
                    <div class="p-3"></div>
         
                    <h3 class="wow fadeInRight text-white-50" data-wow-delay="0.2s">Programa&#xE7;&#xE3;o</h3>
                    <p class="wow fadeInDown  text-white-50">Programa&#xE7;&#xE3;o &#xE9; o processo de escrita, teste e manuten&#xE7;&#xE3;o de um programa de computador. O programa &#xE9; escrito em uma linguagem de programa&#xE7;&#xE3;o, embora seja poss&#xED;vel, com alguma dificuldade, o escrever diretamente em linguagem de m&#xE1;quina.</p>
                  </div>
                  
                  <div class="col">
                    <div>
                                            <a class="link grow" href="/Curso/Details/28">
                                            <div class="grow paineldivCursos bg-success text-dark position-relative wow fadeInDown" data-wow-delay="0.5s">
                                                <div>L&#xF3;gica de Programa&#xE7;&#xE3;o</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/30">
                                            <div class="grow paineldivCursos bg-success text-dark position-relative wow fadeInDown" data-wow-delay="0.7s">
                                                <div>L&#xF3;gica de Progr. com Java</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/31">
                                            <div class="grow paineldivCursos bg-success text-dark position-relative wow fadeInDown" data-wow-delay="0.8999999999999999s">
                                                <div>HTML 5</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/32">
                                            <div class="grow paineldivCursos bg-success text-dark position-relative wow fadeInDown" data-wow-delay="1.0999999999999999s">
                                                <div>Banco de Dados - SQL</div>
                                            </div>
                                            </a>
                        </div>
                  </div>
                </div>
            </div>
        </div>
      </section>
    <section>
        <div class="bg-primary bg-gradient p-5">
            <div class="container">
                <div class="row g-2">
                  <div class="col">
                    <div class="p-3"></div>
         
                    <h3 class="wow fadeInRight text-light" data-wow-delay="0.2s">Profissionalizantes</h3>
                    <p class="wow fadeInDown  text-light">Adquira novas habilidades, conhe&#xE7;a diversas &#xE1;reas, invista em voc&#xEA;, com os cursos profissionalizantes voc&#xEA; pode abrir seu leque de conhecimentos.</p>
                  </div>
                  
                  <div class="col">
                    <div>
                                            <a class="link grow" href="/Curso/Details/33">
                                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="0.5s">
                                                <div>Hotelaria</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/34">
                                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="0.7s">
                                                <div>Contabilidade</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/35">
                                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="0.8999999999999999s">
                                                <div>Telemarketing</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/36">
                                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="1.0999999999999999s">
                                                <div>Meio Ambiente</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/37">
                                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="1.2999999999999998s">
                                                <div>Gest&#xE3;o de Pessoas</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/38">
                                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="1.4999999999999998s">
                                                <div>T&#xE9;cnicas de Vendas</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/39">
                                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="1.6999999999999997s">
                                                <div>Auxiliar de Farm&#xE1;cia</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/40">
                                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="1.8999999999999997s">
                                                <div>Reda&#xE7;&#xE3;o Empresarial</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/41">
                                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="2.0999999999999996s">
                                                <div>Log&#xED;stica Empresarial</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/42">
                                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="2.3s">
                                                <div>Atendente de &#xD3;tica</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/43">
                                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="2.5s">
                                                <div>Cria&#xE7;&#xE3;o de Empresas</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/44">
                                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="2.7s">
                                                <div>Departamento Pessoal</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/45">
                                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="2.9000000000000004s">
                                                <div>Matem&#xE1;tica Financeira</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/46">
                                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="3.1000000000000005s">
                                                <div>Orienta&#xE7;&#xE3;o Profissional</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/47">
                                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="3.3000000000000007s">
                                                <div>T&#xE9;cnicas de Secretariado</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/48">
                                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="3.500000000000001s">
                                                <div>Profiss&#xF5;es de Supermercado</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/49">
                                            <div class="grow paineldivCursos bg-light text-primary position-relative wow fadeInDown" data-wow-delay="3.700000000000001s">
                                                <div>Auxiliar de Consult&#xF3;rio Odontol&#xF3;gico</div>
                                            </div>
                                            </a>
                        </div>
                  </div>
                </div>
            </div>
        </div>
      </section>
    <section>
        <div class="bg-secondary p-5">
            <div class="container">
                <div class="row g-2">
                  <div class="col">
                    <div class="p-3"></div>
         
                    <h3 class="wow fadeInRight text-light" data-wow-delay="0.2s">Design 3D</h3>
                    <p class="wow fadeInDown  text-light">Computa&#xE7;&#xE3;o gr&#xE1;fica tridimensional s&#xE3;o gr&#xE1;ficos que usam representa&#xE7;&#xF5;es tridimensionais de dados geom&#xE9;tricos que s&#xE3;o armazenados em um computador com o prop&#xF3;sito de realizar c&#xE1;lculos e renderizar imagens 2D.</p>
                  </div>
                  
                  <div class="col">
                    <div>
                                            <a class="link grow" href="/Curso/Details/51">
                                            <div class="grow paineldivCursos bg-warning text-secondary position-relative wow fadeInDown" data-wow-delay="0.5s">
                                                <div>Blender Modelamento de Faces</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/50">
                                            <div class="grow paineldivCursos bg-warning text-secondary position-relative wow fadeInDown" data-wow-delay="0.7s">
                                                <div>Blender Fundamentos</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/52">
                                            <div class="grow paineldivCursos bg-warning text-secondary position-relative wow fadeInDown" data-wow-delay="0.8999999999999999s">
                                                <div>Blender Efeitos Visuais</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/53">
                                            <div class="grow paineldivCursos bg-warning text-secondary position-relative wow fadeInDown" data-wow-delay="1.0999999999999999s">
                                                <div>SketchUp Fundamentos</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/54">
                                            <div class="grow paineldivCursos bg-warning text-secondary position-relative wow fadeInDown" data-wow-delay="1.2999999999999998s">
                                                <div>SketchUp V-Ray</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/55">
                                            <div class="grow paineldivCursos bg-warning text-secondary position-relative wow fadeInDown" data-wow-delay="1.4999999999999998s">
                                                <div>Promob</div>
                                            </div>
                                            </a>
                        </div>
                  </div>
                </div>
            </div>
        </div>
      </section>
    <section>
        <div class="gradContato p-5">
            <div class="container">
                <div class="row g-2">
                  <div class="col">
                    <div class="p-3"></div>
         
                    <h3 class="wow fadeInRight text-light" data-wow-delay="0.2s">Arquitetura</h3>
                    <p class="wow fadeInDown  text-light">Aprenda os softwares mais poderosos para lhe auxiliarem no seu trabalho. Hoje n&#xE3;o podemos desvincular os softwares na &#xE1;rea da arquitetura, com eles podemos criar plantas, ambientes 3D, croquis e muito mais.</p>
                  </div>
                  
                  <div class="col">
                    <div>
                                            <a class="link grow" href="/Curso/Details/56">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="0.5s">
                                                <div>Revit</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/57">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="0.7s">
                                                <div>AutoCAD 2D</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/58">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="0.8999999999999999s">
                                                <div>AutoCAD 3D</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/59">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="1.0999999999999999s">
                                                <div>SketchUp Fundamentos</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/60">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="1.2999999999999998s">
                                                <div>SketchUp V-Ray</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/61">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="1.4999999999999998s">
                                                <div>CorelDraw</div>
                                            </div>
                                            </a>
                        </div>
                  </div>
                </div>
            </div>
        </div>
      </section>
    <section>
        <div class="gradContato p-5">
            <div class="container">
                <div class="row g-2">
                  <div class="col">
                    <div class="p-3"></div>
         
                    <h3 class="wow fadeInRight text-light" data-wow-delay="0.2s">Cria&#xE7;&#xE3;o de Games</h3>
                    <p class="wow fadeInDown  text-light">...</p>
                  </div>
                  
                  <div class="col">
                    <div>
                                            <a class="link grow" href="/Curso/Details/62">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="0.5s">
                                                <div>Photoshop</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/63">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="0.7s">
                                                <div>Blender Fundamentos</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/64">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="0.8999999999999999s">
                                                <div>Blender Modelamento de Faces</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/65">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="1.0999999999999999s">
                                                <div>Blender Efeitos Visuais</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/66">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="1.2999999999999998s">
                                                <div>Cria&#xE7;&#xE3;o de Games</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/67">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="1.4999999999999998s">
                                                <div>Unity Projeto</div>
                                            </div>
                                            </a>
                        </div>
                  </div>
                </div>
            </div>
        </div>
      </section>
    <section>
        <div class="gradContato p-5">
            <div class="container">
                <div class="row g-2">
                  <div class="col">
                    <div class="p-3"></div>
         
                    <h3 class="wow fadeInRight text-light" data-wow-delay="0.2s">Hardware</h3>
                    <p class="wow fadeInDown  text-light">...</p>
                  </div>
                  
                  <div class="col">
                    <div>
                                            <a class="link grow" href="/Curso/Details/68">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="0.5s">
                                                <div>Hardware I</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/69">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="0.7s">
                                                <div>Hardware II</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/70">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="0.8999999999999999s">
                                                <div>Hardware III</div>
                                            </div>
                                            </a>
                                            <a class="link grow" href="/Curso/Details/71">
                                            <div class="grow paineldivCursos bg-primary text-light position-relative wow fadeInDown" data-wow-delay="1.0999999999999999s">
                                                <div>Hardware IV</div>
                                            </div>
                                            </a>
                        </div>
                  </div>
                </div>
            </div>
        </div>
      </section>

<!-- Area Informacoes-->
    <section class="p-5 gradinformacoes">
      <div class="container align-self-center text-center">
          <h1 class="wow bounceIn infinite" data-wow-delay="0.3s">Saiba mais sobre nossos cursos!</h1>
          <div class="align-self-center">
            <a href="https://wa.me/5554984346112" class="btn btn-outline-light btn-sm" target="_blank">
              Solicite mais informações</a>
          </div>
        </div>
        <br>
    </section>
    <!-- Area Informacoes-->

  <section>
    <div>
    <div class="imagemDeFundoCursos">
      <div>
        <img style="width: 100%;" src="/assets/img/cursos_galera.jpg">
    </div>
  </div>
  </div>
  </section>


  
<!-- Area Informacoes-->
<section class="p-5 gradinformacoes">
  <div class="container align-self-center text-center">
      <h1 class="wow bounceIn infinite">Empresas Conveniadas</h1>
      
      <img class="position-relative counter wow fadeInRight" data-wow-delay="0.2s" src="EmpresaConvenioInfox/gr.png">
      <img class="position-relative counter wow fadeInRight" data-wow-delay="0.2s" src="EmpresaConvenioInfox/sanel.png">
      <img class="position-relative counter wow fadeInRight" data-wow-delay="0.2s" src="EmpresaConvenioInfox/hanka.png">
    <br>
  </div>
</section>
<!-- Area Informacoes-->

</body>

{% include 'footer.html' %}

{% endblock %}