{% extends 'aluno/base_admin.html' %}
{% load bootstrap %}
{% load static %}
{% block main %}
<div class="row">
    <div class="col">
        <div class="alert alert-warning" role="alert">
            Atenção! Você está editando A turma: {{ inscricao }}
        </div>

        <form action="{% url 'prof_turma_update' inscricao.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form|bootstrap }}

            <!-- Adicione um bloco de código para exibir os caminhos atuais dos arquivos carregados -->
            {% if inscricao.foto_turma %}
                <div>
                    <label>Foto Atual:</label>
                    <a href="{% static inscricao.foto_turma %}">
                        <img class="rounded mx-auto d-block" src="{% static inscricao.foto_turma %}" width="200px" alt="Logo empresa">
                    </a>
                </div>
            {% endif %}


            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>
{% endblock %}
