{% extends 'aluno/base_admin.html' %}
{% load bootstrap %}
{% load static %}
{% block main %}
<div class="row">
    <div class="col">
        <div class="alert alert-warning" role="alert">
            Atenção! Você está editando a inscrição: {{ inscricao }}
        </div>

        <form action="{% url 'superior_super_update' inscricao.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>
{% endblock %}
