{% extends 'aluno/base_admin.html' %}
{% load bootstrap %}
{% load static %}
{% block main %}

<div class="card border-primary mb-3">
    <h5 class="card-header">Cursos Técnicos</h5>
    <div class="card-body">
        <div class="row">
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">curso</th>
                        <th scope="col">Descrição</th>
                        <th scope="col" class="text-end" style="width: 80px;">Editar</th>
                        <th scope="col" class="text-end" style="width: 80px;">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inscricao in inscricoes %}
                    <tr>
                        <th scope="row">{{ inscricao.id }}</th>
                        <td>{{ inscricao.curso }}</td>
                        <td>{{ inscricao.descricao }}</td>
                        <td class="text-end">
                            <a href="{% url 'superior_tec_update' inscricao.id %}">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </td>
                        
                        <td class="text-end">
                            <a href="{% url 'superior_tec_delete' inscricao.id %}">
                                <i class="fa-solid fa-trash" style="color: red;"></i>
                            </a>
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>
</div>
{% endblock %}
