{% extends "base_login.html" %}
{% load static %}
{% block main %}
{% load custom_filters %}
{% load bootstrap %}

</head>
  
{% include 'nav.html' %}

<style>
  .progress-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinha os elementos internos à direita */
    width: auto;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .step {
      text-align: center;
      position: relative;
      flex: 1;
  }

  .step:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateY(-100%);
      height: 4px;
      width: 100%;
      background-color: #94a8bd;
      z-index: -1;
  }

  .circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #94a8bd;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      margin: 0 auto 10px;
      position: relative;
      z-index: 1;
  }

  .step.active .circle {
    width: 40px;
    height: 40px;
    background-color: #28a745;
  }

  .label {
      font-size: 14px;
      margin-top: 10px;
      color: #5e758f;
  }

  .step.active.step:not(:last-child)::after  {
    background-color: #28a745;
  }
</style>

<div class="gradCapaSuper wow fadeInDown">
  <br><br><br>
</div>
<div class="container mt-5 text-secondary">
  <h1 class="text-secondary" style="text-align: center;">Seu Carrinho</h1>
  <div style="text-align: right;">
  <div class="progress-container">
    <div class="step active">
        <div class="circle">1</div>
        <div class="label">Carrinho</div>
    </div>
    <div class="step active">
        <div class="circle">2</div>
        <div class="label">Identificação</div>
    </div>
    <div class="step active">
        <div class="circle">3</div>
        <div class="label">Pagamento</div>
    </div>
    <div class="step">
        <div class="circle">4</div>
        <div class="label">Finalização</div>
    </div>
</div>
</div>


  <div class="row">
    <div class="col-md-6">
      <h2 class="text-secondary text-center align-middle"><i class="fa-solid fa-cart-shopping"></i> Resumo da sua compra</h2>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-center align-middle" style="width: 100px;">Curso</th>
            <th scope="col">Descrição</th>
            <th scope="col" class="text-center align-middle" style="width: 100px;">Quantidade</th>
            <th scope="col" class="text-center align-middle" style="width: 100px;">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tbody>
            {% for curso in cursos %}
            <tr>
                <th scope="row" style="padding: 0px;">
                    <img src="{% static curso.imagem %}" alt="Imagem Logo" style="width: 100px;">
                </th>
                <td class="align-middle">{{ curso.nome }}</td>
                <td class="text-center align-middle">1</td>
                <td class="text-center align-middle">{{ curso.preco }}</td>
            </tr>
            {% endfor %}
        
            {% if digitacao_curso %}
            <tr>
                <th scope="row" style="padding: 0px;">
                    <img src="{% static 'media/curso/capa/digitacao.png' %}" alt="Imagem Logo" style="width: 100px;">
                </th>
                <td class="align-middle">{{ digitacao_curso.nome }}</td>
                <td class="text-center align-middle">1</td>
                <td class="text-center align-middle">{{ digitacao_curso.valor }}</td>
            </tr>
            {% endif %}
        </tbody>
        </tbody>
      </table>
      <div class="col" style="text-align: right;">
        <table class="table table-striped table-bordered" style="width: 200px; margin-left: auto;">
          <thead>
            <tr>
              <th scope="col" style="background-color: #888b8d;" class="text-center">Total</th>
              <th scope="col" class="text-center">R$ {{ total }}</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>



    <div class="col-md-6">
      <h2 class="text-secondary text-center align-middle"><i class="fa-solid fa-bag-shopping"></i> Forma de pagamento</h2>

    </div>
  </div>
</div>





</body>
{% include 'footer.html' %}

{% endblock %}